body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.game {
    width: 1000px;
    margin: 0 auto;
}

.game__title {
    background-color: aliceblue;
}

.game__settings {
    background-color: antiquewhite;
}

.game__board {
    background-color: aquamarine;
    width: 600px;
    height: 600px;
    display: grid;
}

.game__board-cell {
    border: 1px solid black;
    margin: -1px 0 0 -1px;
}

.game__board--3 {
    grid-template-columns: repeat(3, 1fr);
}
.game__board--4 {
    grid-template-columns: repeat(4, 1fr);
}
.game__board--5 {
    grid-template-columns: repeat(5, 1fr);
}

.game__board--6 {
    grid-template-columns: repeat(6, 1fr);
}

.game__board--7 {
    grid-template-columns: repeat(7 1fr);
}

.game__board--8 {
    grid-template-columns: repeat(8, 1fr);
}

.game__board--9 {
    grid-template-columns: repeat(9, 1fr);
}

.game__results {
    background-color: bisque;
}
